async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
Pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor

pytz
umongo
speedtest-cli

aiofiles
asyncio
humanize
wget
hachoir
bs4
httpx[http2]
img2pdf
tglogging
